<?xml version="1.0" encoding="UTF-8"?>
<con:interface xmlns:con="http://eviware.com/soapui/config" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:type="con:RestService" id="1e2c2950-1b99-4b5f-a40c-74aaaa9ff95f" wadlVersion="http://wadl.dev.java.net/2009/02" name="http://api.openweathermap.org" type="rest">
  <con:settings id="872c4662-ffde-471c-af2d-f115bb5ee033">
    <con:setting id="1e2c2950-1b99-4b5f-a40c-74aaaa9ff95ffileName">http%3A%2F%2Fapi.openweathermap.org</con:setting>
  </con:settings>
  <con:definitionCache type="TEXT" rootPart=""/>
  <con:endpoints>
    <con:endpoint>http://api.openweathermap.org</con:endpoint>
  </con:endpoints>
</con:interface>
